{
    "port": {{selenium_hub_port}},
    "newSessionWaitTimeout": {{selenium_hub_newSessionWaitTimeout}},
    "servlets" : {{selenium_hub_servlets}},
    "withoutServlets": {{selenium_hub_withoutservlets}},
    "custom": {{selenium_hub_custom}},
    "throwOnCapabilityNotPresent" : {{selenium_hub_throwOnCapabilityNotPresent}},
    "capabilityMatcher": "{{selenium_hub_capabilityMatcher}}",
    "registry": "{{selenium_hub_registry}}",
    "role": "hub",
    "cleanUpCycle": {{selenium_hub_cleanUpCycle}},
    "debug": {{selenium_hub_debug}},
    "browserTimeout": {{selenium_hub_browserTimout}},
    "timeout": {{selenium_hub_timeout}}
}
